/src/main/resources/assets/models
bin/
build/
eclipse/
out/
run/
.gradle/
.settings/

*.class
*.bat
*.d

# Package Files #
*.war
*.ear
mode
.classpath
.project

# models executable for modder (me)
src/main/resources/models

# Idea Stuff #
*.iml
*.ipr
*.iws

#Exclude temporary editing files
*~
